[colors]
# Tomorrow
# Scheme: Chris Kempson (http://chriskempson.com)

foreground = #4d4d4c
background = #ffffff

# 16 color space
color0 = #1d1f21
color1 = #c82829
color2 = #718c00
color3 = #f5871f
color4 = #4271ae
color5 = #8959a8
color6 = #3e999f
color7 = #d6d6d6
color8 = #8e908c
color9 = #ff3334
color10 = #89aa00
color11 = #eab700
color12 = #5795e6
color13 = #b777e0
color14 = #66BDC3
color15 = #efefef
