# ~/.xprofile

#
# Set up
#

# Touchpad Tweaks
xinput set-prop --type=int --format=8 \
    "SynPS/2 Synaptics TouchPad" "Synaptics Edge Scrolling" 1 1 0
xinput set-prop --type=int --format=8 \
    "SynPS/2 Synaptics TouchPad" "Synaptics Tap Action" 2 3 0 0 1 3 2

# Mouse pointer
xsetroot -cursor_name left_ptr

# Keyboard Keymap
setxkbmap -model acer_laptop -layout br

# X Screensaver
xset s off
xset dpms 900 1800 3600

# X Fonts
xset +fp /usr/share/fonts/local
xset +fp /usr/share/fonts/artwiz-fonts
xset fp rehash

# X f.lux
command -v xflux >/dev/null 2>&1 && xflux -l -23.3 -g 46.4 -k 5000 || true

#
# Env vars
#

# Applications
export BROWSER="firefox"

# Java options
opt1="swing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"
opt2="swing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"
export _JAVA_OPTIONS="-D${opt1} -D${opt2}"
