[Unit]
Description=X11 screen lock
Documentation=man:xss-lock(1)
Documentation=man:xlock(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xss-lock -- xlock

[Install]
WantedBy=bspwm-session.target
