[Unit]
Description=BSPWM workspace notification
Documentation=man:sxhkd(1)
PartOf=graphical-session.target
After=dunst.service

[Service]
Type=simple
ExecStart=%h/.config/bspwm/tags.py
Restart=always

[Install]
WantedBy=bspwm-session.target
