#
# ~/.xprofile
#

## Touchpad Tweaks
xinput set-prop --type=int --format=8 \
    "SynPS/2 Synaptics TouchPad" "Synaptics Edge Scrolling" 1 1 0
xinput set-prop --type=int --format=8 \
    "SynPS/2 Synaptics TouchPad" "Synaptics Tap Action" 2 3 0 0 1 3 2

## Mouse pointer
xsetroot -cursor_name left_ptr

## Keyboard Keymap
setxkbmap -model acer_laptop -layout br

## X Screensaver
xset s 3600
xset dpms 3600 3600 3600

## X Fonts
xset +fp /usr/share/fonts/local
xset +fp /usr/share/fonts/artwiz-fonts
xset fp rehash

## Start PulseAudio
start-pulseaudio-x11
