!! Color Theme -------------------------------------------------------------- !!
#include ".colors/base16/base16-ocean.dark.256.xresources"

!! Xcursor ------------------------------------------------------------------ !!
Xcursor.theme: Adwaita

!! Xft
Xft.antialias:                  true
Xft.rgba:                       rgb
Xft.hinting:                    true
Xft.hintstyle:                  hintfull
Xft.lcdfilter:                  lcdlight

!! UXTerm ------------------------------------------------------------------- !!
UXTerm*termName:                xterm-256color
UXTerm*faceName:                GohuFont
UXTerm*faceSize:                9
UXTerm*saveLines:               500

!! URxvt -------------------------------------------------------------------- !!
URxvt.geometry:                 103x30
URxvt.transparent:              false
URxvt.scrollBar:                false
URxvt.scrollBar_right:          false
URxvt.font:                     xft:GohuFont:style=Regular:size=9
URxvt.boldFont:                 xft:GohuFont:style=Bold:size=9
URxvt.letterSpace:              0
URxvt.saveLines:                500
URxvt.fading:                   25
!colors
URxvt.throughColor:             #8080f0
URxvt.highlightColor:           #343434
URxvt.tintColor:                #999999
!extensions
URxvt.perl-ext-common:          default,url-select,keyboard-select,clipboard
!perls -- url-select
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.url-select.launcher:      /usr/bin/xdg-open
URxvt.url-select.underline:     true
!perls -- keyboard-select
URxvt.keysym.M-s:               perl:keyboard-select:activate
!perls -- clipboard
URxvt.keysym.M-c:               perl:clipboard:copy
URxvt.keysym.M-v:               perl:clipboard:paste
URxvt.clipboard.copycmd:        xclip -i -selection clipboard
URxvt.clipboard.pastecmd:       xclip -o -selection clipboard

!! Dzen --------------------------------------------------------------------- !!
dzen2.font:                     -*-cure-medium-*-normal-*-9-*-*-*-*-*-*-*
dzen2.background:               base00
dzen2.foreground:               base05

!! Rofi --------------------------------------------------------------------- !!
rofi.font:                      lime 8
rofi.terminal:                  termite
rofi.color-enabled:             false
rofi.color-normal:              base00,base05,base00,base05,base00
rofi.color-urgent:              base00,base08,base00,base08,base00
rofi.color-active:              base00,base0C,base00,base0C,base00
rofi.color-window:              base00,base05
rofi.bc:                        base05
rofi.bg:                        base00
rofi.fg:                        base05
rofi.bgalt:                     base00
rofi.hlbg:                      base05
rofi.hlfg:                      base00
rofi.bg-urgent:                 base00
rofi.fg-urgent:                 base08
rofi.hlbg-urgent:               base08
rofi.hlfg-urgent:               base00
rofi.bg-active:                 base00
rofi.fg-active:                 base0C
rofi.hlbg-active:               base0C
rofi.hlfg-active:               base00
