!! Color Theme -------------------------------------------------------------- !!
#include ".config/Xres-base16/base16-ateliercave.light.256.xresources"

!! Xcursor ------------------------------------------------------------------ !!
Xcursor.theme: Adwaita

!! Xft ---------------------------------------------------------------------- !!
Xft.antialias:                  true
Xft.rgba:                       rgb
Xft.hinting:                    true
Xft.hintstyle:                  hintfull
Xft.lcdfilter:                  lcdlight

!! UXTerm ------------------------------------------------------------------- !!
UXTerm*termName:                xterm-256color
UXTerm*font:                    -*-tewi-medium-*-normal-*-11-*-*-*-*-*-*-*
UXTerm*saveLines:               500

!! URxvt -------------------------------------------------------------------- !!
URxvt.geometry:                 100x30
URxvt.transparent:              false
URxvt.scrollBar:                false
URxvt.scrollBar_right:          false
URxvt.font:                     -*-tewi-medium-*-normal-*-11-*-*-*-*-*-*-*, -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.boldFont:                 -*-tewi-bold-*-normal-*-11-*-*-*-*-*-*-*, -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.letterSpace:              0
URxvt.saveLines:                500
URxvt.fading:                   25
!extensions
URxvt.perl-ext-common:          default,url-select,keyboard-select,clipboard
!perls -- url-select
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.url-select.launcher:      /usr/bin/xdg-open
URxvt.url-select.underline:     true
!perls -- keyboard-select
URxvt.keysym.M-s:               perl:keyboard-select:activate
!perls -- clipboard
URxvt.keysym.M-c:               perl:clipboard:copy
URxvt.keysym.M-v:               perl:clipboard:paste
URxvt.clipboard.copycmd:        xclip -i -selection clipboard
URxvt.clipboard.pastecmd:       xclip -o -selection clipboard

!! Dzen --------------------------------------------------------------------- !!
dzen2.font:                     -*-lime-medium-*-normal-*-10-*-*-*-*-*-*-*
dzen2.background:               base07
dzen2.foreground:               base02

!! Dmenu2
dmenu.font:                     -*-lime-medium-*-normal-*-10-*-*-*-*-*-*-*
dmenu.background:               base07
dmenu.foreground:               base02
dmenu.selbackground:            base02
dmenu.selforeground:            base07

!! Rofi --------------------------------------------------------------------- !!
rofi.hide-scrollbar:            true
rofi.font:                      lime 8
rofi.terminal:                  urxvtc
rofi.color-enabled:             true
rofi.color-normal:              base07,base02,base07,base02,base07
rofi.color-urgent:              base07,base08,base07,base08,base07
rofi.color-active:              base07,base0C,base07,base0C,base07
rofi.color-window:              base07,base02
