!! Color Theme -------------------------------------------------------------- !!
#include ".Xcolors"

!! Xcursor ------------------------------------------------------------------ !!
Xcursor.theme: Adwaita

!! Xft ---------------------------------------------------------------------- !!
Xft.antialias:                  true
Xft.rgba:                       rgb
Xft.hinting:                    true
Xft.hintstyle:                  hintfull
Xft.lcdfilter:                  lcdlight

!! URxvt -------------------------------------------------------------------- !!
URxvt.geometry:                 100x30
URxvt.transparent:              false
URxvt.scrollBar:                false
URxvt.scrollBar_right:          false
URxvt.font:                     -gohu-gohufont-medium-*-normal-*-11-*-*-*-*-*-*-*,\
                                -gnu-unifont-medium-*-normal-*-*-*-*-*-*-*-*-*
URxvt.boldFont:                 -gohu-gohufont-bold-*-normal-*-11-*-*-*-*-*-*-*,\
                                -gnu-unifont-medium-*-normal-*-*-*-*-*-*-*-*-*
URxvt.letterSpace:              0
URxvt.saveLines:                1000
URxvt.fading:                   5
!extensions
URxvt.perl-ext-common:          default,url-select,keyboard-select,clipboard
!perls -- url-select
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.url-select.launcher:      /usr/bin/xdg-open
URxvt.url-select.underline:     true
!perls -- keyboard-select
URxvt.keysym.M-s:               perl:keyboard-select:activate
!perls -- clipboard
URxvt.keysym.M-c:               perl:clipboard:copy
URxvt.keysym.M-v:               perl:clipboard:paste
URxvt.clipboard.copycmd:        xsel -bi
URxvt.clipboard.pastecmd:       xsel -bo

!! Rofi --------------------------------------------------------------------- !!
rofi.hide-scrollbar:            true
rofi.font:                      artwiz lime 8
rofi.terminal:                  termite
rofi.color-enabled:             true
rofi.color-normal:              nord0,nord5,nord0,nord5,nord0
rofi.color-urgent:              nord0,nord8,nord0,nord8,nord0
rofi.color-active:              nord0,nord12,nord0,nord12,nord0
rofi.color-window:              nord0,nord5
